
@{
    Layout = null;
}


<html lang="en">
<head>
    <title>PMP Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/Content/Login/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/fonts/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/css/main.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.js"></script>
    
    <style>
        .login100-more::before {
            background: transparent;
        }

        .login100-form-bgbtn {
            background-color: #17a2b8;
            background: #17a2b8;
        }

        container-login100-form-btn {
            margin: auto;
            width: 100%;
            padding: 10px;
        }
    </style>
</head>
<body style="background-color: #999999;">
    <div class="justify-content-center">
        <div class="limiter">
            <div class="container-login100">
                <div class="login100-more" style="background-image: url('/Content/Login/images/image-login.jpg');"></div>
                <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
                    <div class="login100-form validate-form justify-content-center">
                        <span class="login100-form-title p-b-59 " style="font-size:35px; text-align:center; color:#17a2b8;">
                            Project Management Professional<br />
                            <i class="material-icons" style="font-size:50px; border:2px solid #E5E5E5; border-radius:50%; width:100px; height:100px; line-height:100px; color:#17a2b8; border-color:#17a2b8; margin-top:20px;">timeline</i>
                        </span>

                        <div class="wrap-input100 validate-input" data-validate="Enter your e-mail : example@abc.xyz">
                            <span class="label-input100">E-Mail</span>
                            <input class="input100" type="text" name="e-mail" placeholder="E-mail..." id="email">
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Enter your password">
                            <span class="label-input100">Şifre</span>
                            <input class="input100" type="password" name="password" placeholder="Şifre..." id="password">
                            <span class="focus-input100"></span>
                        </div>

                        <div class="container-login100-form-btn justify-content-center">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <button class="login100-form-btn" onclick="login()" id="login-button">
                                    Giriş
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/Content/Login/vendor/animsition/js/animsition.min.js"></script>
    <script src="~/Content/Login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/Login/vendor/select2/select2.min.js"></script>
    <script src="~/Content/Login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Content/Login/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="~/Content/Login/vendor/countdowntime/countdowntime.js"></script>
    <script src="~/Content/Login/js/main.js"></script>

</body>
</html>





<script>
    $(document).ready(function () {

    });


    $(function () {
        $('.intro').addClass('go');

        $('.reload').click(function () {
            $('.intro').removeClass('go').delay(200).queue(function (next) {
                $('.intro').addClass('go');
                next();
            });

        });
    })

</script>
<script>

     $('body').on('keydown', function (e) {
            if (e.which == 13) {
                login();
            }
        });


  function login()
  {
    var email = $("#email").val();
    var password = $("#password").val();

    if(email == "" || password == "")
      swal("Lütfen tüm boşlukları doldurun.");
       else{
      $.ajax({
          url : '@Url.Action("ControlLogin", "Login")',
          type:'POST',
          dataType:'json',
          data: {
            "_email" : email,
            "_password" : password
          },
          success:function(data){
            if(data == true)
              window.location = '@Url.Action("Index", "Home")';
            else
              swal("Kullanıcı adı veya şifre yanlış, lütfen tekrar deneyin.");
          }
      });
    }
  }
</script>

